<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dobot_e6_ros2_control" params="use_mock_hardware">

        <ros2_control name='DobotSystem' type='system'>

            <xacro:unless value='${use_mock_hardware}'>
                <!-- Add dobot e6 magician hardware plugin when made-->
            </xacro:unless>

            <xacro:if value="${use_mock_hardware}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </hardware>
            </xacro:if>

            <joint name="joint1">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

            <joint name="joint2">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

            <joint name="joint3">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

            <joint name="joint4">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

            <joint name="joint5">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

            <joint name="joint6">
                <command_interface name='position'>
                    <param name="min">${-2*pi}</param>
                    <param name="max">${2*pi}</param>
                </command_interface>
                <state_interface name='position'/>
            </joint>

        </ros2_control>
        
    </xacro:macro>
</robot>
